services:
  postgres: 
    image: postgres:16-alpine 
    container_name: subs_manager_database

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    
    ports:
      - "${POSTGRES_PORT}:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    
    env_file:
      - .env
    
    networks:
      - subs_manager_network
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  redis:
    image: redis:7-alpine
    container_name: subs_manager_redis

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data
    
    networks:
      - subs_manager_network
    
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: subs_manager_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80"
    env_file:
      - .env
    networks:
      - subs_manager_network
    depends_on:
      postgres:  
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:

networks:
  subs_manager_network:
    driver: bridge